window.notification-popups box.notifications {
    padding: .5em;
}

.icon {
    min-width: 32px;
    min-height: 32px;
    margin-right: 1em;
}

.icon image {
    font-size: 42px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

.notification {
    min-width: 240px;
    min-height: 64px;
    border-radius: 12px;
    padding: 1em;
    margin: .5em;
    /*border: 1px solid @wm_borders_edge;*/
    border: 1px solid #5EFF6C;
	background-color: rgba(0,0,0,0.8);
	color: #FFFFFF;
    /*background-color: @theme_bg_color;*/
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    /*color: @theme_fg_color;*/
    font-size: 1em;
}

.body {
    /*color: @theme_unfocused_fg_color;*/
}

.actions .action-button {
	/*color: #000000;*/
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}
