@use "widgets/Bar/Bar";

window.Bar {
    background: transparent;
    color: var(--accent-color);
    font-weight: bold;

    >centerbox {
        background: #000;
        border-radius: 10px;
        margin: 8px;
    }

    button {
        border-radius: 8px;
        margin: 2px;
    }
}
