input {
    keyboard {
        xkb {
            layout "us, ru"
            options "grp:alt_shift_toggle, caps:swapescape"
        }
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }
}

output "eDP-1" {
    mode "2880x1920@120"
}

layout {
    gaps 6

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 1.0; }
}

binds {
    // === Numbered Workspaces ===
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // === Move to Numbered Workspaces ===
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // === Screenshots ===
    XF86Launch1 { screenshot-screen; }
    Ctrl+XF86Launch1 { screenshot; }
    Alt+XF86Launch1 { screenshot-window; }
    Print { screenshot-screen; }
    Ctrl+Print { screenshot; }
    Alt+Print { screenshot-window; }


    Mod+I { spawn "~/dots/scripts/toggle-work-vpn.sh"; }
}
