.Notification {
  font-family: 'JetBrainsMonoNL Nerd Font Mono';
  font-size: 16px;
  padding: 8px;
  margin-top: 8px;
  margin-right: 8px;
  background-color: var(--view-fg-color);
  border-radius: var(--window-radius);
}
