.applauncher-container {
	background-color: rgba(0,0,0,0.8);
	border-radius: 16px;
    border: 1px solid #5EFF6C;
}

.applauncher {
	background-color: transparent;
	padding: 16px;
	min-width: 400px;
	min-height: 400px;
}

.applauncher-list-scroll {
	margin-top: 8px;
	min-height: 400px;
}

.applauncher-input {
	padding: 4px;
	background-color: rgba(0,0,0,0.8);
    border: 1px solid #5EFF6C;
	border-radius: 8px;
	color: #FFFFFF;
	font-weight: bold;
}

.applauncher-item {
	outline: none;
	padding: 8px;
	border-radius: 0;
    border-bottom: 2px solid #424242;
}

.applauncher-item + .applauncher-item {
	margin-top: 8px;
}

.applauncher-item:focus {
    border-color: #5EFF6C;
}

.applauncher-item_icon {
	margin-right: 16px;
}
