window.bar {
	border-radius: 8px;
	background-color: rgba(0,0,0,0.6);
	color: #FFFFFF;
	/*background-color: @theme_bg_color;*/
	/*color: @theme_fg_color;*/
}

.clock {
	margin-left: 16px;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    border: none;
	box-shadow: none;
	color: #FFFFFF;
}

button:active {
    background-color: @theme_selected_bg_color;
	background: none;
}

button:hover {
    /*border-bottom: 3px solid @theme_fg_color;*/
}

label {
    font-weight: bold;
}

.workspaces {
	margin-left: 8px;
	margin-right: 8px;
}

.workspaces button {
	border-radius: 0;
}

.workspaces button:hover {
    color: #F1FF5E;
}

.workspaces button.focused {
	/*background-color: @theme_selected_bg_color;*/
    border-bottom: 1px solid #5EFF6C;
}

.client-title {
    color: @theme_selected_bg_color;
}

levelbar block,
highlight {
    min-height: 10px;
}

.media-label {
	font-weight: normal;
}

.media-label-playing {
	font-weight: bold;
}

.volume-slider trough highlight {
    background-color: #5EFF6C;
	border: none;
}
