window.bar {
	border-radius: 8px;
	background-color: rgba(0,0,0,0.5);
	color: #FFFFFF;
	/*background-color: @theme_bg_color;*/
	/*color: @theme_fg_color;*/
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    border: none;
	box-shadow: none;
	color: #FFFFFF;
}

button:active {
    background-color: @theme_selected_bg_color;
	background: none;
}

button:hover {
    /*border-bottom: 3px solid @theme_fg_color;*/
	font-size: 20px;
}

label {
    font-weight: bold;
}

.workspaces {
	margin-left: 8px;
	margin-right: 8px;
}

.workspaces button {
	border-radius: 0;
}

.workspaces button.focused {
	/*background-color: @theme_selected_bg_color;*/
    background-color: rgba(69,0,146,0.9);
	border-radius: 8px;
}

.client-title {
    color: @theme_selected_bg_color;
}

levelbar block,
highlight {
    min-height: 10px;
}
